body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f8;
}

.container {
  width: 850px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

textarea {
  min-height: 90px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  margin-right: 8px;
}

button:hover {
  background: #1d4ed8;
}

.task-card,
.details {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.buttons {
  margin-top: 15px;
}